In [1]:
import sklearn,pandas
import numpy as np
from sklearn import datasets

In [2]:
data = pandas.read_csv('data_train.csv')

In [3]:
X=np.log(0.3+data[['user_item_count','user_item_lastday_count']].as_matrix())
Y=data['buy'].as_matrix()

In [4]:
data_test = pandas.read_csv('data_test.csv')
X_test = np.log(0.3+data_test[['user_item_count','user_item_lastday_count']])
Y_test = data_test['buy']

In [5]:
from sklearn.linear_model import LogisticRegressionCV, LogisticRegression
from sklearn.metrics import f1_score
from sklearn.grid_search import GridSearchCV

In [8]:
parms = {
'C':[1],# np.logspace(-6,1,10),
'class_weight':[{0:1,1:2},{0:1,1:10},{0:1,1:30},{0:1,1:100},{0:1,1:300},{0:1,1:1000}]
}
lr = LogisticRegression(C=10,class_weight={0:1,1:1})
clf = GridSearchCV(lr, parms, scoring='f1')

In [5]:
data['buy'].value_counts()

0    3539017
1        574
dtype: int64

In [6]:
counts = data['user_item_lastday_count'].value_counts()

In [9]:
np.corrcoef(data['user_item_count'], data['user_item_lastday_count'])

array([[ 1.        ,  0.13761155],
       [ 0.13761155,  1.        ]])

In [ ]:
clf.fit(X,Y)

In [7]:
clf.intercept_,clf.coef_

AttributeError: 'GridSearchCV' object has no attribute 'intercept_'

In [6]:
clf = LogisticRegression(class_weight={0:1,1:100})
clf.fit(X,Y)
print clf.intercept_,clf.coef_
print clf.score(X_test,Y_test),np.mean(data_test['buy']==0)
pred = clf.predict(X_test)
print f1_score(Y_test,pred)*100, f1_score(Y, clf.predict(X))*100

[-5.58520678] [[ 1.61727368  0.55307063]]
0.99908089716 0.999817705617
1.98915009042 1.57728706625

In [8]:
import pickle
with open('model1.model','rb') as f:
    clf = pickle.load(f)
print clf

GridSearchCV(cv=None, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0),
       fit_params={}, iid=True, loss_func=None, n_jobs=16,
       param_grid={'C': array([  1.00000e-06,   5.99484e-06,   3.59381e-05,   2.15443e-04,
         1.29155e-03,   7.74264e-03,   4.64159e-02,   2.78256e-01,
         1.66810e+00,   1.00000e+01]), 'class_weight': [{0: 1, 1: 2}, {0: 1, 1: 10}, {0: 1, 1: 30}, {0: 1, 1: 100}, {0: 1, 1: 300}, {0: 1, 1: 1000}]},
       pre_dispatch='2*n_jobs', refit=True, score_func=None, scoring='f1',
       verbose=0)

In [14]:
print clf.best_score_*100
print clf.best_params_

1.92205391809
{'C': 0.00021544346900318845, 'class_weight': {0: 1, 1: 100}}

In [15]:
est = clf.estimator

In [10]:
print clf.estimator.score(X,Y)
print clf.predict(X)

NotFittedError: This LogisticRegression instance is not fittedyet

In [34]:
data_test['buy'].value_counts()

0    1179196
1        215
dtype: int64

In [47]:
clf.score(X_test,Y_test)

0.99981770561746497

In [49]:
pred = clf.predict(X_test)
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [22]:
f1_score(Y_test,pred)

0.019891500904159132

In [38]:
np.mean(data_test['buy']==0)

0.99981770561746497

In [23]:
np.mean(pred[:,0]>0.995)

0.99871800415631196

In [65]:
data['buy'].value_counts()

0    3539017
1        574
dtype: int64

In [29]:
data

,user_id,item_id,user_action_count,user_lastday_count,user_buy_count,item_click_count,item_lastday_count,item_buy_count,cat_click_count,cat_buy_count,user_cat_count,user_cat_lastday_count,user_item_count,user_item_lastday_count,buy
0,27751835,244322130,843,0,7,1,0,0,12004,137,150,0,1,0,0
1,98692568,371781541,567,0,12,2,0,0,3969,74,6,0,2,0,0
2,100014756,350273263,1497,66,13,2,0,0,322649,860,119,2,2,0,0
3,48034560,302154307,248,0,9,215,8,1,290767,957,4,0,2,0,0
4,68352416,197974051,3148,72,4,2,0,0,51605,1317,123,0,1,0,0
5,91450392,384935079,1289,94,8,3,0,0,31023,610,17,0,3,0,0
6,68089629,265879503,3084,46,9,154,5,11,56403,948,26,0,2,0,0
7,26047046,57878922,2049,68,2,43,0,1,290767,957,191,2,2,0,0
8,108430412,245000744,6531,266,11,2,0,0,316540,855,245,0,2,0,0
9,14655396,214188424,198,0,1,2,0,0,25715,323,2,0,2,0,0
10,122626233,391644240,4461,87,6,4,0,0,75311,1090,81,0,4,0,0
11,129077923,221007776,1816,30,31,3,0,0,8176,116,114,0,3,0,0
12,36140679,269289919,4920,0,69,1,0,0,5753,86,1781,0,1,0,0
13,29847444,324924415,2159,41,64,9,0,0,2404,34,5,0,5,0,0
14,76236587,75082200,3148,118,79,2,0,0,647,1,61,0,2,0,0
15,27751835,34563280,843,0,7,3,0,0,397320,1782,165,0,3,0,0
16,77504559,364704505,10706,408,26,1,0,0,410,8,1,0,1,0,0
17,50915402,290000736,16615,1210,4,1,0,0,290767,957,535,119,1,0,0
18,99903128,368881676,7366,125,58,1,0,0,13856,164,230,3,1,0,0
19,26664688,106700549,3661,484,45,3,0,0,125857,717,6,0,3,0,0
20,11521732,128461162,4948,76,111,3,0,0,160535,561,202,5,3,0,0
21,124343016,177158600,928,57,6,2,0,0,25423,362,8,0,2,0,0
22,124167000,325752091,6595,272,5,5,0,0,5632,4,107,8,5,0,0
23,643640,65520130,14805,830,22,1,0,0,89510,878,293,15,1,0,0
24,90795949,192451581,3209,245,15,1,0,0,21790,546,17,0,1,0,0
25,97861587,163009105,236,35,12,137,10,4,1621,44,11,0,3,0,0
26,3410120,194472040,718,60,4,30,0,0,61846,500,124,0,2,0,0
27,1067390,249881952,1118,45,29,3,0,0,51726,557,41,0,2,0,0
28,48588889,214110240,1015,11,12,129,0,11,5776,191,12,0,8,0,0
29,19936645,50153640,2408,171,19,124,26,0,290767,957,567,72,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3539561,62193211,353908734,2301,2,14,3,0,0,322,2,5,0,2,0,0
3539562,27313574,197597547,2457,40,24,87,0,0,5562,95,18,0,2,0,0
3539563,135012604,143449146,1260,22,42,3,0,0,1987,13,56,0,1,0,0
3539564,110388596,249725494,1195,0,7,13,0,0,9192,85,3,0,3,0,0
3539565,42560916,359998786,3067,164,48,9,0,0,61846,500,34,0,3,0,0
3539566,12725240,302981075,1666,45,7,3,0,0,7261,19,294,0,3,0,0
3539567,130321834,164049778,655,0,61,2,0,1,367577,822,31,0,1,0,0
3539568,1017622,382506304,5341,232,14,2,0,0,397320,1782,227,11,2,0,0
3539569,12161548,366170671,1597,0,21,2,0,0,23588,345,32,0,2,0,0
3539570,120226592,241789906,2517,106,0,48,2,0,397320,1782,617,93,2,2,0
3539571,141263225,342286126,1176,2,27,1,0,0,77834,682,29,0,1,0,0
3539572,4607223,186486999,2716,71,56,3,0,1,1305,18,4,0,3,0,0
3539573,83540417,322157239,3223,4,19,5,0,0,61846,500,122,0,2,0,0
3539574,52417718,133210280,1997,75,21,13,3,0,4797,126,5,0,2,0,0
3539575,68352416,54136287,3148,72,4,55,0,0,125857,717,93,0,1,0,0
3539576,69588442,302799839,4863,36,6,2,0,0,316540,855,1064,12,2,0,0
3539577,60432494,44399268,1653,6,7,6,0,0,69,0,4,0,2,0,0
3539578,122714235,144812485,1358,35,16,1,0,0,397320,1782,48,10,1,0,0
3539579,89205429,64604824,595,18,31,6,0,0,290767,957,4,0,1,0,0
3539580,229807,397122015,722,0,7,25,0,0,173112,713,101,0,6,0,0
3539581,89315288,96436751,5899,260,52,3,0,0,308,0,5,0,2,0,0
3539582,134621848,341053685,7906,120,32,4,0,0,316540,855,260,7,4,0,0
3539583,54867992,222920181,3014,59,8,5,0,0,5632,4,115,0,2,0,0
3539584,15407004,114820331,705,54,5,8,0,0,5435,72,6,0,2,0,0
3539585,47346917,138084792,6858,218,17,2,0,0,173112,713,142,0,2,0,0
3539586,28653821,253840859,8010,133,13,1,0,0,3399,3,227,0,1,0,0
3539587,31493754,291385196,2853,58,17,59,1,1,6958,78,1,0,1,0,0
3539588,137050612,319166381,6824,143,34,2,0,0,290767,957,501,11,2,0,0
3539589,140267624,238536397,2377,26,9,2,0,0,5978,104,2,0,2,0,0
3539590,128004624,298645727,324,0,7,1,0,0,266,0,6,0,1,0,0